:local(.addFriendForm) {
    margin: 0 5px 10px
}

:local(.addFriendFormGroup) {
    width: 68%;
    display: inline-block;
}

:local(.addFriendFormGroup + .addFriendFormGroup) {
    width: 30%;
}

:local(.addFriendInput) {
    max-width: 100%;
    border-color: #ABAAAA;
    border-left: 0;
    border-right: 0;
    margin: 0 0 5px;
}

:local(.addFriendSelect) {
    max-width: 100%;
}