:local(.pagingList) {
    display: block;
    text-align: center
}

:local(.pagingList li) {
    display: inline-block;
    margin: 0 5px;
    border-radius: 2px
}

:local(.pagingList >li:last-child>a) ,:local(.pagingList >li:first-child>a) {
    border-radius: 2px;
}

:local(.pagingList a) {
    border-radius: 2px;
    cursor: pointer;
}